body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

main {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.section {
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

/* Кнопки */
.buttons {
    margin: 10px 0;
}

button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#graphics-animation {
    text-align: center;
}

input[type="range"] {
    width: 100%;
    margin: 10px 0;
}

.worker-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.worker-input {
    margin: 10px 0;
}

.output {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #e9ecef;
    width: 100%;
    text-align: center;
}
